/* Header styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 30px;
  width: 100%;
  background-color: #030216;
  color: #fff;
}

.header-container > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff; 
}

.header-container > img:hover {
  border-color: #ff0000; 
}

.header-container > nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.header-container > nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header-container > nav a:hover {
  color: #ff0000;
}

/* Section styles */
.first-section {
  display: flex;
  width: 75%;
  align-items: center;
  margin: 90px auto;
  gap: 100px;
}

.first-section img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.first-section img:hover {
  transform: scale(1.05);
  filter: grayscale(100%) brightness(0.8); 
}


.first-section p {
  font-size: 18px;
}

.second-section > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.second-section img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.second-section img:hover {
  transform: scale(1.05);
  filter: grayscale(100%) brightness(0.8); 
}

.second-section p {
  font-size: 16px;
  margin-top: 10px;
}

/* Footer styles */
footer {
  background-color: #030216;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}


footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

footer div h3 {
  color: #fefefe;
  margin-bottom: 10px;
}

footer div p {
  color: #ffffff;
  font-size: 14px;
}
/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .first-section,
  .second-section {
    flex-direction: column;
    gap: 30px;
  }

  .first-section img,
  .second-section img {
    width: 100%;
    height: auto;
  }

  .second-section > div {
    flex-direction: column;
  }
}
